<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong</title>
  </head>
  <body>
    <p>Play Ping Pong</p>
      <form action="/results">
        <label for="user-input">Enter a number</label>
        <input id="user-number" name="user-number" class="form-control" type="number">
        <button class="btn" type="submit">Show the Results</button>
      </form>

  </body>
</html>
